<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Instructor Show</title>
    <style>
        table, th, td {
            border: 2px solid black;
            height: 25px;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

<!--/*@thymesVar id="instructor" type="com.example.sgswimming.model.Instructor"*/-->

<h1 th:text="'Instructor - ' + ${instructor.firstName} + ' ' + ${instructor.lastName}">Instructor - George Kowalski
    <a style="color:blue; font-size:medium" href="#"
       th:href="@{'/instructors/' + ${instructor.id} + '/update'}">Update</a>
    <a style="color:red; font-size:medium" href="#"
       th:href="@{'/instructors/' + ${instructor.id} + '/delete'}">Delete</a>
</h1>

<table style="width:75%;  text-align:center">

    <caption style="font-size:30px; font-weight: bold; text-align:left">Lessons</caption>

    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th th:unless="${#lists.isEmpty(instructor.getLessons())}" th:colspan="${instructor.lessons.get(0).swimmers.size()}">Participants</th>
    </tr>
    </thead>

    <tbody>
    <!--/*@thymesVar id="lesson" type="com.example.sgswimming.model.Lesson"*/-->

    <tr th:each="lesson : ${instructor.lessons}">
        <td>
            <a th:text="${lesson.id}" href="#" th:href="@{'/lessons/' + ${lesson.id}}">1</a>
        </td>
        <td th:text="${#temporals.format(lesson.localDateTime,'dd-MM-yyyy hh:mm')}">Date</td>
        <td th:each="swimmer : ${lesson.swimmers}" >
            <a th:text="${swimmer.firstName + ' ' + swimmer.lastName}" href="#" th:href="@{'/swimmers/' + ${swimmer.id}}">Swimmer</a>
        </td>
    </tr>
    </tbody>
</table>

<a style="color:blue; font-size:medium" href="#"
   th:href="@{'/lessons/new'}">Create New Lesson</a>

</body>
</html>