<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Swimmer Show</title>
    <style>
        table, th, td {
            border: 2px solid black;
            height: 25px;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

<!--/*@thymesVar id="swimmer" type="com.example.sgswimming.model.Swimmer"*/-->

<h1 th:text="${swimmer.firstName} + ' ' + ${swimmer.lastName}">George Kowalski</h1>
<h3>
    <a href="#" th:href="@{'/swimmer/' + ${swimmer.id} + '/update'}">Update</a>
    <a style="color:red" href="#" th:href="@{'/swimmer/' + ${swimmer.id} + '/delete'}">Delete</a>
</h3>

<table style="width:50%;  text-align:center">

    <caption style="font-size:30px; font-weight: bold; text-align:left">Lessons</caption>

    <thead>
    <tr>
        <th>ID</th>
        <th>Instructor</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="lesson : ${swimmer.lessons}">
        <td th:text="${lesson.id}">1</td>
        <td th:text="${lesson.instructor.firstName + ' ' + lesson.instructor.lastName}">Instructor</td>
        <td th:text="${lesson.description}">Description</td>
        <td th:text="${lesson.localDateTime}">Date</td>
    </tr>
    </tbody>
</table>
</body>
</html>